<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.o7planning.dak19"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/manager"
        android:label="@string/app_name"
        android:roundIcon="@drawable/manager"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activities.ChartSellerMonthActivity"></activity>
        <activity android:name=".activities.AddPromoCodesActivity" />
        <activity android:name=".activities.PromotionCodeActivity" />
        <activity android:name=".activities.TestActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".activities.ChartSellerActivity" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.OrderDetailsAdminActivity" />
        <activity android:name=".activities.SellerDetailsActivity" />
        <activity android:name=".activities.OrderDetailsSellerActivity" />
        <activity android:name=".activities.EditProfileCustomerActivity" />
        <activity
            android:name=".activities.CustomerActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activities.EditProductActivity" />
        <activity android:name=".activities.AddCustomerActivity" />
        <activity android:name=".activities.AddProductActivity" />
        <activity android:name=".activities.ProfileEditSellerActivity" />
        <activity android:name=".activities.ProfileEditAdminActivity" />
        <activity android:name=".activities.RegisterAdminActivity" />
        <activity android:name=".activities.MainAdminActivity" />
        <activity android:name=".activities.MainSellerActivity" />
        <activity android:name=".activities.ForgotActivity" />
        <activity android:name=".activities.RegisterSellerActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".CloudMess.FirebaseMessagingService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
    </application>

</manifest>